.sun-option .panel {
    height: 350px;
}

.panel-default > .panel-heading {
    background-color: #b3d9dc;
}

.panel-title {
    font-weight: bold;
}

.glyphicon {
    font-size: 18px;
}

.sun-option img {
    height: 24px;
}

.sun-option tbody td div {
    display: list-item;
    margin-left: 1.3em;
    font-size: 12px;
}


